@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/user-interface";
@import "compass/css3/transition";

input[is=x-checkbox][theme=default] {
  opacity:0;
  & + label {
    border: 1px solid #777;
    @include user-select(none);
    @include border-radius(3px);
    margin: 0 3px 0 -15px;
    height:18px;
    width:18px;
    display:inline-block;
    svg {
      g line {
        stroke-opacity:0;
      }
    }
  }
  &:checked + label {
    svg {
      g line {
        stroke-opacity:1;
      }
    }
  }
  &:focus + label {
    box-shadow: 0 0 3px 0 grey;
  }
}

input[is=x-checkbox][theme=arrow] {
  opacity:0;
  & + label {
    margin-left: -15px;
    @include user-select(none);
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #007bff transparent transparent transparent;
    @include rotate(-90deg);
    @include transition(all 0.2s ease);
  }
  &:checked + label {
    @include rotate(0deg);
  }
  &:focus + label {
    box-shadow: 0 -3px 3px -1px grey;
  }
}

input[is=x-checkbox][theme=switch] {
  display: none;
  & + label {
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;
    position: relative;
    width: 60px;
    height: 21px;
    border-radius: 3px;
    background:#444;
    span {
      position: absolute;
      width: 100%;
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      color: #fff;
      height: 21px;
      font-size: 13px;
      padding-top: 2px;
      cursor:pointer;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      -webkit-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      transition-timing-function: ease-in;

      &.switchOn {
        left:100%;
        background:#428bca;
      }
      &.switchOff {
        left: 0;
        background: #444;
      }
    }
  }
  &:checked + label {
    span {
      &.switchOff {
        left: -100%;
        background: #444;
      }
      &.switchOn {
        left:0%;
      }
    }
  }
}
